<tr>
  <td style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Block 1 -->
      <!-- Text H1 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <h1
            style="
              margin: 0;
              font-size: 24px;
              line-height: normal;
              font-weight: 700;
              color: #727272;
            "
          >
            Подборка лучших статей января от нас и наших партнеров
          </h1>
        </td>
      </tr>
      <!-- End Text H1 section -->
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/ZfkQ1Qm/image-10-1-ru.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text H2 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Как мы делали браузер лучше
          </h2>
        </td>
      </tr>
      <!-- End Text H2 section -->
      <!-- Text P section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Значимые обновления, новые партнеры и выгодные скидки: рассказываем
            про эволюцию Octo за прошедший год.
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text P section -->
      <!-- End Block 1 -->

      <!-- Block 2 -->
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/bsZFXpk/image-10-2-ru.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text H2 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Как использовать кредитные лимиты
          </h2>
        </td>
      </tr>
      <!-- End Text H2 section -->
      <!-- Text P section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Гайд от Banana Traff по работе с кредитами от Google Ads. Как их
            использовать, чтобы показать больше рекламы за меньший бюджет?
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text P section -->
      <!-- End Block 2 -->

      <!-- Block 3 -->
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/4d5sR9T/image-10-3-ru.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text H2 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            Как лить трафик, чтобы получить профит?
          </h2>
        </td>
      </tr>
      <!-- End Text H2 section -->
      <!-- Text P section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Секреты, рекомендации и стратегии по успешной работе с рекламой.
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text P section -->
      <!-- End Block 3 -->
    </table>
  </td>
</tr>
