<tr>
  <td>
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Block 1 -->
      <!-- Text H1 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <h1
            style="
              margin: 0;
              font-size: 24px;
              line-height: normal;
              font-weight: 700;
              color: #727272;
            "
          >
            A roundup of the latest articles from Octo and our partners
          </h1>
        </td>
      </tr>
      <!-- End Text H1 section -->
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/qsTc9mY/image-10-1-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text H2 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            How we made Octo Browser better
          </h2>
        </td>
      </tr>
      <!-- End Text H2 section -->
      <!-- Text P section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Major updates, new partners, and exclusive discounts: check out the
            major achievements of the Octo Browser Team in 2023.
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text P section -->
      <!-- End Block 1 -->

      <!-- Block 2 -->
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/ZKjD7VP/image-10-2-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text H2 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            How to make the most of Google Ads credit limits
          </h2>
        </td>
      </tr>
      <!-- End Text H2 section -->
      <!-- Text P section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            A guide from Banana Traff on working with Google Ads more
            efficiently. Learn how to use them to show more ads on a smaller
            budget.
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text P section -->
      <!-- End Block 2 -->

      <!-- Block 3 -->
      <!-- Image section -->
      <tr>
        <td style="padding-bottom: 24px">
          <table
            width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0"
            role="presentation"
          >
            <tr>
              <td align="center" class="main-block__img">
                <img
                  src="https://i.ibb.co/w7zY2bQ/image-10-3-en.png"
                  width="100%"
                  alt="#"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Image section -->
      <!-- Text H2 section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <h2
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            "
          >
            How to earn more with TikTok traffic?
          </h2>
        </td>
      </tr>
      <!-- End Text H2 section -->
      <!-- Text P section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 50px">
          <p
            style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            "
          >
            Secrets, tips, and recommendations for successfully running ads on
            one of the most popular social networks.
            <a
              href="#"
              title="#"
              target="_blank"
              rel="noopener"
              style="color: #1890ff"
              >→</a
            >
          </p>
        </td>
      </tr>
      <!-- End Text P section -->
      <!-- End Block 3 -->
    </table>
  </td>
</tr>
